@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');



/*General Classes*/
.wrapper {
    width: 1920px;
    margin: 0 auto;
}
.container {
    width: 1140px;
    max-width: 1160px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}
.section-title {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 110px;
}
.white-section-title {
    color: #ffffff;
}
.section-title::before {
    content: '';
    width: 76px;
    right: 48%;
    position: absolute;
    display: inline-block;
    border: 1px solid #18cfab;
    top: 68px;
}

.section-title::after {
    content: '';
    width: 76px;
    right: 47%;
    position: absolute;
    display: inline-block;
    border: 1px solid #18cfab;
    top: 75px;
}


.section-navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 25px;
}
.button {
    width: 165px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: inline-block;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: 0 4px #ffffff inset;
    transition: 0.6s ease;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}
.green-button {
    background-color: #18cfab;
}

.blue-button {
    background-color: #00cbf6;
}

.green-bold-text {
    color: #18cfab;
    font-weight: bold;
}

.green-text {
    color: #18cfab;
}

.img {display: block;}


.top-section-wrapper {
    background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/*Header*/

.header-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 122px;
    align-items: center;

}

.logo-title {
    position: relative;
    display: inline-block;
    padding-left: 64px;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
}

.logo-title::after {
    content: 'H';
    width: 58px;
    height: 67px;
    position: absolute;
    top: -18px;
    right: 123px;
    display: flex;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #18cfab;
    color: #ffffff;
}

.logo-ham-text {
    font-size: 30px;
}
/*.hexagon {*/
/*    display: inline-block;*/
/*    width: 58px;*/
/*    height: 67px;*/
/*    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    font-size: 40px;*/
/*    font-weight: bold;*/
/*    background-color: #18cfab;*/
/*    color: #ffffff;*/
/*}*/
.header-nav {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;


}
.header-nav-item {
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: content-box;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #b8b8b8;
    border-bottom: 1px solid transparent;
    transition: color .2s ease-in-out, border .2s ease-in-out;
}

.header-nav-item:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

/*Description Section*/

.description-section {
    padding: 245px 0;
    text-align: center;
}

.description-section-slogan {
    padding-bottom: 45px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.description-section-title-subtitle {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 37px;
    color: #ffffff;
}

.description-section-text {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 140px;
    color: #b8b8b8;
}

.description-section-buttons-wrapper {
    width: 31%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.services {
    display: flex;
    margin: 0 auto;
}

.services-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 120px;
}

.services-item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.services-item:nth-child(even) {
    background-color: #18cfab;
    border-top: 7px solid  #ffffff;
    color: #ffffff;
}
.services-tittle {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.icon {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    background: url('../img/sprite.png') no-repeat;
    overflow: hidden; text-indent: -9999px;
    text-align: left; }
.devices { background-position: -3px -0px; width: 125px; height: 96px; }
.crystal { background-position: -3px -99px; width: 119px; height: 96px; }
.lamp { background-position: -3px -198px; width: 60px; height: 96px; }
.hand { background-position: -66px -198px; width: 57px; height: 96px; }

/*Our Services*/
.our-services {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Montserrat, sans-serif;
}

.our-services-navbar-item {
    width: 17%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    font-weight: 400;
    text-align: center;
    color: #000000;
    transition: color .4s ease-out, background-color .4s ease-in;
}
.our-services-navbar-item:hover {
    color: #ffffff;
    background-color: #18cfab;
    cursor: pointer;
}
.our-services-navbar-item.active {
    color: #ffffff;
    background-color: #18cfab;

}

.our-services-navbar-item.active::after {
    content: '';
    position: absolute;
    top: 73px;
    left: 38%;
    border: 24px solid transparent;	border-top: 13px solid #18cfab;
}

.content {
    display: none;
}
.content.active {
    display: flex;
    cursor: pointer;
}

.our-services-description-img {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #4d4646 100%) 1;
}

.our-services-description {
    display: inline-block;
    padding-left: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
}

/*Buy Now*/

.buy-now {
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.buy-now-title {
    padding-bottom: 35px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}
.buy-now-description {
    padding-bottom: 76px;
    font-size: 16px;
    color: #ffffff;
}

/*Our Amazing Work*/

.our-amazing-work {
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 100px;
    font-family: Montserrat, sans-serif;
    background-color: #f8fcfe;
}

.amazing-work-navbar-wrapper {
    width: 610px;

}

.amazing-work-navbar-item {

    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 70px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.amazing-work-navbar-item:hover {
    border-top: 2px solid #18cfab;
    cursor: pointer;
}

.amazing-work-navbar-item.active {
    border-top: 2px solid #18cfab;
}

.amazing-work-gallery {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.gallery-content {
    display: none;
}
.gallery-content.active {
    display: block;
    position: relative;
}

.hidden-gallery.hidden {
    display: none;
}

.description {
    position: absolute;
    display: none;
    width: 284px;
    height: 206px;
    bottom: -206px;
    left: 0;
    padding-top: 40px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    border-top: 2px solid #18cfab;

    transition:  bottom .6s linear;
}

.gallery-content.active:hover .description{
    display:block;
    bottom: 0;
    cursor: pointer;
    background-color: #ffffff;
}

.description-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #18cfab;
    border: 2px solid #18cfab;
    border-radius: 50%;
}
.description-icon:hover {
    background-color: #18cfab;
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s ease;
}
.description-title {
    margin-bottom: 12px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;

}

.description-subtitle {
    font-size: 12px;
    text-transform: capitalize;color: #717171;
    font-weight: 300;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}
.load-button {
    position: relative;
}
.load-button::after {
    content: '+';
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 134px;
}


/*Breaking News*/

.breaking-news {
    padding-top: 85px;
    padding-bottom: 115px;
}

.news-gallery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
}
.breaking-news-card {
    position: relative;
}

.breaking-news-card:hover .news-date-wrapper {
    background-color: #18cfab;
    transition: 0.4s ease;
}

.breaking-news-card:hover .news-card-title {
    color: #18cfab;
    transition: 0.4s ease;
}

.breaking-news-card-description {
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    margin-bottom: 17px;
    text-align: left;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
}
.news-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    margin-bottom: 14px;
}

.by-admin {
    margin-right: 32px;
}

.by-admin:after {
    content: '';
    position: relative;
    right: -16px;
    border-right: 1px solid #717171;
}

.news-date-wrapper {
    position: absolute;
    top: 0;
    right: 1px;
    width: 68px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: #ffffff;
    background-color: #203e38;
}

.news-day {
    margin-bottom: 10px;
}

/*What People Say About theHam*/

.about-ham-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
}

.slider-about-ham-section {
        display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.review {
    /*display: none;*/
    opacity: 0;
}

.review.active {
    display: flex;
    width: 1160px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.review-inner {
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: #8c9396;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}

.review-inner::before {
    content: '\201C';
    position: absolute;
    right: 50%;
    top: -55%;
    font-size: 45px;
    font-weight: bold;
    color: #18cfab;
}

.name {
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
}
.profession {
    margin-bottom: 30px;
    font-size: 16px;
    color: #8c9396;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.big-viewport {
    width: 1160px;
    overflow: hidden;
}

.view-port {
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

.slider-big-container {
    width: 100%;
    position: relative;
    left: 0px;
    display: -webkit-box;
    text-align: center;
    transition: left 0.8s ease;
}

.slider-container {
    position: relative;
    left: 0px;
    display: flex;
    justify-content: space-between;
    transition: left 0.8s ease;
}

.slider-link {
    margin-right: 15px;
    margin-left: 15px;
}

.slider-link:hover {
    transform: translateY(-10px);;
    transition: 0.4s ease;
    cursor: pointer;
}

.slider-link.active {
    transform: translateY(-10px);;
    transition: 0.2s ease-in-out;
}

.slider-link.active .small-img {
    border: 2px #18cfab solid;
}

.big-img {
    border-radius: 50%;
    border: 4px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(24, 207, 171,0.2);
}

.small-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171,0.2);
}

.slider-btn {
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #717171;
    transition: 0.2s ease;
}

.slider-btn.left::after {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    border-bottom: 1px solid #717171;
    border-left: 1px solid #717171;
    transform: rotate(45deg);
    transition: 0.2s ease;
}

.slider-btn.right::after {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    border-top: 1px solid #717171;
    border-right: 1px solid #717171;
    transform: rotate(45deg);
    transition: 0.2s ease;
}

.slider-btn:hover {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    cursor: pointer;
}

footer {
    background-color: #22353f;
    padding: 47px 0;
    margin: 0 auto;
}

.footer-inner {
    font-family: Montserrat, sans-serif;
    color: #717171;
    font-size: 14px;
    text-align: center;
}
